# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
env/
ENV/
*.egg-info/
*checkpoints
*.ipynb

# Data
data/repos/
data/metadata/
data/chroma/
neo4j/data/

# Logs
logs/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Environment
.env

# Node
node_modules/
build/
dist/

# OS
.DS_Store
Thumbs.db
